@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    background-color: #fbfbfb;
    font-family: 'Iceberg', sans-serif;
}

header {
    color: #4285F4;
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

h1 {
    color: #4285F4;
    font-family: 'Iceberg', sans-serif;
}

header a {
    text-decoration: none;
    
}

.active {
    border-bottom: 1px solid #4285f4;

}
main {
    background-color: #e5e7eb;
    flex: 1 0 auto;
    margin-top: 47px;
}

footer {
    color: blue;

} 

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #666666;
    display: none;
}

#nav-toggle:checked~nav {
    display: block;
    top: 100%
}
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 2rem;
}