/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Russo+One&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    background-color: #eceaea;
    font-family: 'Zain', sans-serif;
}

header {
    color: #4285F4;
    background-color: #f8f8f8;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #bcbbbb;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-decoration: none;
}

header a {
    text-decoration: none;
}

a {
    text-decoration: none;
}

#menu {
    list-style-type: none;

}

h1 {
    color: #4285F4;
    font-family: 'Zain', sans-serif;
    margin-top: 15%;
}

p {
    font-family: 'Zain', sans-serif;
    color: #4285F4;
    text-align: center;
    font-size: x-large;
}

h4 {
    font-family: 'Luca', sans-serif;
    text-align: center;
    font-size: 60px;
}

.summary {
    color: black;
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
    margin: 1em;
    margin-bottom: 2em;
}

h5 {
    font-family: 'Zain', sans-serif;
    text-align: center;
}

.active {
    border-bottom: 1px solid #4285f4;
}

.profile-photo {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 8px solid #b9abab;
    display: block;
    margin: 10% auto;
}

.button1 {
    color: white;
    background-color: #4285F4;
    border-radius: 20%;
    border-color: #4285F4;
    border-radius: 30%;
    text-align: center;
    margin: 2rem;
}

.button2 {
    color: black;
    background-color: white;
    border-radius: 20%;
    border-color: white;
    border-radius: 30%;
    margin: 2rem;
}

main {
    background-color: #eceaea;
    flex: 1 0 auto;
    margin-top: 58px;
}

footer {
    color: #666666;
    background-color: seashell;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #f8f8f8;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #8f8e8e;
    display: none;
    color: #666666;
}

.about-me {
    color: black;
    text-align: center;
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: smaller;
    margin: 2em;
    margin-top: 3em;
}

#about-me {
    font-family: 'Arial', Helvetica, sans-serif;
    color: black;
    text-align: center;
}

.menu {
    color: #666666;
}

#nav-toggle:checked~nav {
    display: block;
    top: 100%
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}